body {
    margin: 0;
    text-align: center;
    padding-top: 800px;
}

#section1 {
    background: rgb(0, 212, 255);
    background: radial-gradient(circle, rgba(0, 212, 255, 1) 49%, rgba(0, 255, 239, 1) 74%, rgba(9, 9, 121, 1) 100%);
    overflow: hidden;
    position: absolute;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

h1 {
    text-shadow: 2px 2px #F44336;
    font-size: 50px;
}

h2 {
    font-size: 30px;
    color: black;
}

#hobby {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    background-color: aqua;
    margin: 0px;
}

.menu {
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    color: black;
    cursor: pointer;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: darkgreen;
}

.link {
    float: left;
    color: #FFF;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px;
}

h3 {
    font-size: 30px;
    color: black;
}

h4 {
    font-size: 30px;
}
p {
    font-size: 25px;
}

#about {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    background-color: cadetblue;
    margin: 0px;
}

#history {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    background-color: cornflowerblue;
    margin: 0px;
}

